# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Binarios y archivos temporales
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
tmp/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# Sistema operativo
.DS_Store
Thumbs.db